/* @layer theme, base, components, utilities;

@import "tailwindcss/theme" layer(theme) prefix(ms);
@import "tailwindcss/utilities" layer(utilities) prefix(ms); */

@import "tailwindcss/theme" prefix(ms);
@import "tailwindcss/utilities" prefix(ms);

@plugin "@tailwindcss/typography";

@source "./../../assets/images/marksmith/svgs/";
@source "./../../views/";
@source "./javascript/controllers/";
@source "./../../../test/dummy/app/views/";
@source "./../../helpers/";
@source "./../../../lib/";

@custom-variant dark (&:where(.dark, .dark *));

.marksmith,
.marksmith * {
  box-sizing: border-box;
}

.ms\:button-spinner {
  width: 24px;
  height: 24px;

  position: relative;
}

.ms\:button-spinner > .double-bounce1,
.ms\:button-spinner > .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #333;
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;

  -webkit-animation: sk-bounce 2s infinite ease-in-out;
  animation: sk-bounce 2s infinite ease-in-out;
}

.ms\:button-spinner > .double-bounce2 {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}

@-webkit-keyframes sk-bounce {
  0%,
  100% {
    -webkit-transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
  }
}

@keyframes sk-bounce {
  0%,
  100% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  50% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}
