<%= content_tag :div,
  class: "marksmith ms:block ms:flex-col ms:w-full ms:border ms:border-neutral-500 ms:rounded-md ms:@container ms:focus-within:outline ms:outline-blue-500",
  data: {
    controller: "marksmith list-continuation",
    action: "
      beforeinput->list-continuation#handleBeforeInput
      input->list-continuation#handleInput
    ",
    unique_selector: ".#{@input_id}", # used to pinpoint the exact element in which to insert the attachment
    marksmith_preview_url_value: marksmith.markdown_previews_path,
    marksmith_file_uploads_enabled_value: editor.enable_file_uploads,
    marksmith_active_tab_class: "bg-white",
    marksmith_attach_url_value: editor.upload_url,
    marksmith_extra_preview_params_value: editor.extra_preview_params.as_json,
    **editor.controller_data_attributes,
  } do %>
  <%= render partial: "marksmith/shared/toolbar", locals: { name: editor.name, disabled: editor.disabled } %>
  <div class="ms:border-t ms:w-full ms:border-neutral-500 ms:flex ms:flex-1">
    <%= render partial: "marksmith/shared/editor_pane", locals: { editor: } %>
    <%= render partial: "marksmith/shared/preview_pane", locals: { name: editor.name } %>
  </div>
<% end %>
