<div class="ms:flex-1 ms:flex ms:items:center">
  <button class="<%= marksmith_tab_classes %> active" data-action="click->marksmith#switchToWrite" data-marksmith-target="writeTabButton" type="button">
    <%= t('marksmith.write').humanize %>
  </button>
  <button class="<%= marksmith_tab_classes %>" data-action="click->marksmith#switchToPreview" data-marksmith-target="previewTabButton" type="button">
    <%= t('marksmith.preview').humanize %>
  </button>
</div>
