<div class="ms:flex-1 ms:flex-col-reverse ms:@md:flex-row ms:grow ms:flex  ms:justify-bewteen ms:bg-neutral-50 ms:rounded ms:px-2 ms:py-1 ms:gap-y-1">
  <%= render partial: "marksmith/shared/tabs" %>

  <%= render partial: "marksmith/shared/action_bar", locals: { name:, disabled: } %>
</div>
